/*Custom style for the plugin*/

.fids-wrapper {
    display: table;
    width: 100%;
    margin: 0 auto;
}

.fids-headers {
    display: table-header-group;
    font-weight: bold;
}

.fids-header {
    display: table-cell;
}

.fids-rows {
    display: table-row-group;
}

.fids-row {
    display: table-row;
}

.fids-row-element {
    display: table-cell;
}